/* CSS for Dashboard */

.dashboard-status {
    width: 100%;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    height: 78px;
}

.status-error {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 15px;
}

.dashboard-overview {
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    height: 160px
}

.dashboard-user {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 15px;
}

.user-text {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    color: #34495f;
    padding-left: 15px;
    padding-bottom: 3px;
}

.dashboard-balance {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 15px;
}

.balance-text {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 400;
    color: #34495f;
    padding-left: 15px;
    padding-bottom: 15px;
}

.dashboard-transaction {
    width: 100%;
    margin-top: 15px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    height: calc(100% - 338px);
}

.transaction-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 15px;
}

.table-header {
    font-weight: bold;
}

.transaction-table {
    height: calc(100% - 45px);
    overflow: auto;
    white-space: nowrap;
}

.dashboard-table-format {
    width: calc(100% - 24px);
    margin-bottom: 1em;
    margin-left: 12px;
    margin-right: 12px;
    white-space: nowrap;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #34495f;
}
