/* CSS for SendCoins */

.sendcoins-container {
    width: 100%;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    overflow: auto;
}

.sendcoins-text {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    margin-top: 15px;
    margin-left: 15px;
}

.sendcoins-address {
    margin-left: 15px;
    margin-top: 15px;
}

.sendcoins-amount {
    margin-left: 15px;
    margin-top: 8px;
}

.create-transaction {
    margin-left: 15px;
    margin-top: 15px;
}
